/*#content-inner {
  --light_bg_color: rgba(255, 255, 255, 0.6);
  --dark_bg_color: rgba(18, 18, 18, 0.8);
  --light_page_color: rgba(255, 255, 255, 0.5);
  --dark_page_color: rgba(18, 18, 18, 0.8);
}*/

#recent-posts>.recent-post-item,.layout_page>div:first-child:not(.recent-posts),.layout_post>#page,.layout_post>#post,.read-mode .layout_post>#post {
    background: var(--light_bg_color);
}

#aside-content .card-widget {
    background: var(--light_bg_color);
}

#footer {
    background: rgba(0,129,255,.6)
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}